<ion-header class="ion-no-border font">
  <ion-toolbar class="heading_top">
    
      <ion-buttons slot="start">
          <ion-button (click)="dismiss('dismissed')">
              <ion-icon name="chevron-back-outline" size="md" ></ion-icon>
          </ion-button>
      </ion-buttons>
      <!-- <ion-buttons slot="start">
        <ion-back-button  (click)="dismiss('dismissed')" defaultHref="login"></ion-back-button>
      </ion-buttons> -->

      <ion-buttons slot="secondary">

          <ion-button (click)="goLogin()">
              <ion-icon  src="../../assets/icon/initiative/Logout.svg" color="light" size="small"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center text_upper font font-weight" *ngIf="dataStrength">Add Strength</ion-title>
      <ion-title class="ion-text-center text_upper font font-weight" *ngIf="dataWeakness">Add Weakness</ion-title>
      <ion-title class="ion-text-center text_upper font font-weight" *ngIf="dataOppurtunity">Add Oppurtunity</ion-title>
      <ion-title class="ion-text-center text_upper font font-weight" *ngIf="dataThreats">Add Threats</ion-title>
      
      <ion-title class="ion-text-center text_upper font font-weight" *ngIf="dataStrenthEdit">Edit Strength</ion-title>
      <ion-title class="ion-text-center text_upper font font-weight" *ngIf="dataWeaknessEdit">Edit Weakness</ion-title>
      <ion-title class="ion-text-center text_upper font font-weight" *ngIf="dataOppurtunityEdit">Edit Oppurtunity</ion-title>
      <ion-title class="ion-text-center text_upper font font-weight" *ngIf="dataThreatsEdit">Edit Threats</ion-title>
      <!--<ion-title class="ion-text-center text_upper font" *ngIf="iniativedata">Edit Initiative</ion-title>-->
  </ion-toolbar>
  <ion-row class="header-bottom">
      <img src="../../assets/profile.svg" class="img_top">
      <h6 class="text_upper font">Human Resource</h6>
  </ion-row>
</ion-header>


<ion-content class="ion-no-padding ">
 <!-- strenth add  -->
 <ion-grid class="top-curve form_tab "> 
  <ion-item lines="none">
    <ion-label position="floating" class="text_upper text-as-heading">Strenth</ion-label>
    <ion-textarea class="cust_input"></ion-textarea>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label position="floating" class="text_upper text-as-heading">Type</ion-label>
    <ion-select value="type" okText="Ok" cancelText="Cancel" class="cust_input">
      <ion-select-option value="external">External</ion-select-option>
      <ion-select-option value="internal">Internal</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label position="floating" class="text_upper text-as-heading">Impact</ion-label>
    <ion-textarea class="cust_input"></ion-textarea>
  </ion-item>
  
  <ion-item lines="none" class="status-col">
    <ion-label position="floating" class="text_upper text-as-heading">Status</ion-label>
    <ion-list class="status_radio">
      <ion-radio-group class="display-flex">
        <ion-item lines="none">
          <ion-radio value="red"></ion-radio>
          <ion-icon value="3" name="flag-outline" class="red" ></ion-icon>
        </ion-item>
    
        <ion-item lines="none">
          <ion-radio value="yellow"></ion-radio>
          <ion-icon value="3" name="flag-outline" class="yellow"></ion-icon>
        </ion-item>
    
        <ion-item lines="none">
          <ion-radio value="green"></ion-radio>
          <ion-icon value="3" name="flag-outline" class="green"></ion-icon>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label position="floating" class="text_upper text-as-heading">Responsible</ion-label>
    <ion-select value="responsible" okText="Ok" cancelText="Cancel" class="cust_input" multiple>
      <ion-select-option value="people1">Luisa Lee</ion-select-option>
      <ion-select-option value="people2">Roger Collins</ion-select-option>
      <ion-select-option value="people3">Laurel Hill</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item lines="none" class="ion-text-right font marg-top-10">
    <ion-button color="light">cancel</ion-button>
    <ion-button color="dark">Save</ion-button>
</ion-item>
</ion-grid>
<!-- strenth add end  -->
</ion-content>
